@use './hero' as *;
@use './projects' as *;
@use './divider' as *;
@use './articles' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* improve text rendering */
html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* inherit fonts */
input,
button,
textarea,
select {
  font: inherit;
}

/* avoid text overflow issues */
p,
h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #000 transparent;
}

/* WebKit (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #222;
}
